/.quarto/
/_output/
*_files/
.quarto/
/_scratch
/shared_data
/output_plots
*.html
.Rhistory
uk_diet_capstone_references.bib
UK Diet Capstone LDL Cholesterol.rtf
references.bib
eer.geojson
%
.DS_Store
